<div class="flex flex-col items-center">
  <div class="grid grid-cols-2 grid-rows-1 gap-4 max-width p-4">

    <div class="border p-8">
      <div class="text-3xl mb-4">Sentiments</div>
      <div *ngFor="let item of sentiments; index as i;" class="flex items-center mb-4">
        <input id="sentiment-{{item.name}}" type="checkbox" value="" [checked]="item.checked"
               (click)="onPressedCheckboxSentiments(item)"
               class="w-4 h-4 text-blue-600 bg-gray-100 rounded-md border-gray-300 focus:ring-blue-500 focus:ring-2">
        <label for="sentiment-{{item.name}}"
               class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{item.name}}</label>
      </div>
      <label for="input-field-sentiment"
             class="block mb-2 text-sm font-medium text-gray-900">Add custom sentiments</label>
      <div class="mb-6 flex gap-4">
        <div class="basis-[85%]">
          <input id="input-field-sentiment"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                 placeholder="sentiment" required
                 #sentimentInputField>
        </div>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full basis-[15%]"
                (click)="addCustomSentiment(sentimentInputField)">
          Add
        </button>
      </div>
      <div class="flex gap-4">
        <span *ngFor="let item of customSentiments;"
              class="px-4 py-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease">
          {{item}}
          <button class="bg-transparent hover focus:outline-none" (click)="deleteCustomSentiment(item)">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
                 class="w-3 ml-3" role="img" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 352 512">
              <path fill="currentColor"
                    d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
              </path>
            </svg>
          </button>
        </span>
      </div>
    </div>


    <div>
      <div class="border p-8">
        <div class="text-3xl mb-4">Genres</div>
        <div *ngFor="let item of genres; index as i;" class="flex items-center mb-4">
          <input id="genre-{{item.name}}" type="checkbox" value="" [checked]="item.checked"
                 (click)="onPressedCheckboxGenres(item)"
                 class="w-4 h-4 text-blue-600 bg-gray-100 rounded-md border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="genre-{{item.name}}"
                 class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{item.name}}</label>
        </div>
        <label for="input-field-genre"
               class="block mb-2 text-sm font-medium text-gray-900">Add custom genres</label>
        <div class="mb-6 flex gap-4">
          <div class="basis-[85%]">
            <input id="input-field-genre"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                   placeholder="genre" required
                   #genreInputField>
          </div>
          <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-full basis-[15%]"
                  (click)="addCustomGenre(genreInputField)">
            Add
          </button>
        </div>
        <div class="flex gap-4">
        <span *ngFor="let item of customGenres;"
              class="px-4 py-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease">
          {{item}}
          <button class="bg-transparent hover focus:outline-none" (click)="deleteCustomGenre(item)">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
                 class="w-3 ml-3" role="img" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 352 512">
              <path fill="currentColor"
                    d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
              </path>
            </svg>
          </button>
        </span>
        </div>
      </div>
    </div>
  </div>
  <button class="h-[4rem] px-6 m-2 bg-green-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-full"
          (click)="onConfigureRequestSend()">
    Submit
  </button>
</div>
